#carousel img{
    height: 450px;
}
#responsive-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-response{
    width: 100%;
    padding: 35px;
}
#resContactText{
    padding-top: 50px;
    margin-right: 50px;
}
#respContactForm{
    padding: 0px;
}
.resSearchBar{
    display: flex;
    justify-content: center;  /* equivalent to justify-center */
    flex-grow: 1;  /* equivalent to flex-grow */
    margin-left: 1rem;  /* equivalent to mx-8 (for large screen sizes, 8 * 0.25rem = 2rem) */
    margin-right: 1rem;  /* equivalent to mx-8 (for large screen sizes, 8 * 0.25r} */
}
.search-bar-width{
    width: 450px;
}
.searchButton{
    position: relative;
    left: -45px;
}
.resSearchBarMob{
    display: none;
    align-items: center;
    justify-content: center;  /* equivalent to justify-center */
    flex-grow: 1;  /* equivalent to flex-grow */
    margin-left: 1rem;  /* equivalent to mx-8 (for large screen sizes, 8 * 0.25rem = 2rem) */
    margin-right: 1rem;  /* equivalent to mx-8 (for large screen sizes, 8 * 0.25r} */
}

.topNav{
    height: 50px;
}

.imag-resp{
    object-fit: contain;
    /* height: auto; */
}

@media (max-width: 768px) {
    #paddingNav{
        padding-block: 8px;
    }
    #carousel img{
      height: 150px;
    }
     #form-response{
        width: 70%;
        padding: 15px;
     }
     #resContactText{
        padding-top: 0px;
        margin-right: 0px;
    }
    #respContactForm{
        padding: 25px;
    }
    #respCotactText{
        margin-right: 0px;
    }
    .resSearchBar{
        visibility: hidden;
        display: flex;
        justify-content: center;  /* equivalent to justify-center */
        flex-grow: 1;  /* equivalent to flex-grow */
        margin-left: 1rem;  /* equivalent to mx-8 (for large screen sizes, 8 * 0.25rem = 2rem) */
        margin-right: 1rem;  /* equivalent to mx-8 (for large screen sizes, 8 * 0.25r} */    
    }
    .search-bar-width{
        width: 200px;
    }
    .resSearchBarMob{
        display: flex;
        width: 95%;
        justify-content: center;  /* equivalent to justify-center */
        flex-grow: 1;  /* equivalent to flex-grow */
        margin-left: 1rem;  /* equivalent to mx-8 (for large screen sizes, 8 * 0.25rem = 2rem) */
        margin-right: 1rem;  /* equivalent to mx-8 (for large screen sizes, 8 * 0.25r} */
    }
    .search-bar-width-mob{
        width: 280px;
    }
    .paddingNav{
        padding-block:8px ;
    }
    .imag-resp{
        object-fit: cover;
    }
}